<div class="container">
  <div class="m-3 m-md-5">
    <img src="images/main-banner.png" class="img-fluid" alt="Banner" />
  </div>
  <h2 class="m-5 text-center h2">Ответы на часто задаваемые вопросы</h2>
  <div class="col-lg-8 m-auto">
    <div ngbAccordion [closeOthers]="true">
      <div ngbAccordionItem [collapsed]="false">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Собираете ли вы подарочные боксы?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Сколько у вас разновидностей чая?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Много.</ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>В какой срок осуществляется доставка?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>1-2 дня.</ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>У вас обновляется ассортимент?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Да.</ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Какого объема у вас пачки чая?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Много.</ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-popup></app-popup>
